#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=The Doll Forum 
Exec=$HOME/FunWithYAD/tdfdiag.sh
Icon=$HOME/FunWithYAD/worstsiteonthenet.png

